/*  HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 10px;
    background: transparent;
    font-size: 15px;
}

.header-container {
    max-width: 600px;
    margin: auto;
    background: #e91e63;
    border-radius: 50px;
    padding: 15px;
}

.header-container h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 0;
    text-align: center;
}

/* BODY  */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #fff5f8, #ffe4ec, #f8d9ff);
    backdrop-filter: blur(10px);
    color: #333;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

/*  CARDS */
.glass-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.glass-card {
    height: 105px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(254, 131, 180, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(253, 59, 166, 1);
    box-shadow: 0 8px 25px rgba(255, 182, 193, 0.25);
    transition: 0.3s;
}

.glass-card i {
    width: 30px;
    height: 30px;
    stroke-width: 2;
    color: #333;
}

svg.lucide {
    stroke: black !important;
}

.glass-card.danger i {
    color: red;
}

.glass-card.logout i {
    color: #555;
}

.glass-card .label {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.glass-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.glass-card.danger {
    background: rgba(255, 0, 0, 0.58);
    border: 1px solid rgba(255, 0, 0, 0.67);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.glass-card.logout {
    grid-column: span 3;
}

/*  MOBILE */
@media (max-width: 480px) {
    .chatbot-wrapper {
        width: 90%;
        right: 5%;
        height: 70%;
        bottom: 100px;
    }

    .chat-toggle-btn {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .chat-input-area {
        padding: 8px;
    }

    .chat-input-area input {
        font-size: 13px;
        padding: 8px 12px;
    }

    .send-btn,
    .mic-btn {
        width: 36px;
        height: 36px;
    }

    .glass-container {
        gap: 15px;
    }

    .glass-card {
        height: 100px;
    }
}